Django==1.11
djangorestframework==3.6.2
wheel==0.26.0
psycopg2==2.7.1
bs4
html5lib
pygeocoder==1.2.5
httplib2
whitenoise==3.3.0
requests==2.13.0
django-simple-history
django-cors-headers
pylibmc
gunicorn
celery
django-celery-results